    {% load static %}
    <link rel="canonical" href="{{request.build_absolute_uri}}" />
    <title>{{post.title}} - Arsen Arutiunian</title>
    <meta name="description" content="{% if post.sub_title|length < 200 %}{{post.sub_title}}{% else %}{{post.sub_title|slice:'190'}}...{% endif %}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{post.title}} - Arsen Arutiunian.">
    <meta property="og:description" content="{% if post.sub_title|length < 200 %}{{post.sub_title}}{% else %}{{post.sub_title|slice:'190'}}...{% endif %}" />
    <meta property="og:site_name" content="Arsen Arutiunian - Про Python, Django и веб-разработку." />


