{% extends 'blog/base.html' %}

{% block meta %}
    <title>Обо мне - Arsen Arutiunian</title>
    <meta name="description" content="Меня зовут Арсен Арутюнян. Вот уже как несколько лет увлекаюсь Python и относительно недавно веб-разработкой. Сюда, буду писать преимущественно о Python, Django и веб-разработке." />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Обо мне - Arsen Arutiunian.">
    <meta property="og:description" content="Меня зовут Арсен Арутюнян. Вот уже как несколько лет увлекаюсь Python и относительно недавно веб-разработкой. Сюда в блог, буду писать преимущественно о Python, Django и веб-разработке." />
    <meta property="og:site_name" content="Arsen Arutiunian - Про Python, Django и веб-разработку." />
{% endblock %}

{% block content %}
<h2 class="text-left">Обо мне</h2>
<hr>
<p class="n">Меня зовут Арсен Арутюнян. Вот уже как несколько лет увлекаюсь Python и относительно недавно веб-разработкой. Живу в Краснодаре. Сюда, буду писать преимущественно о Python, Django и веб-разработке.</p>
<br>
<p>Важно! В своих постах, ни разу не претендую на истину в последней инстанции, так что смело оставляйте свои комментарии если есть что добавить или спросить, обсудим. Всегда интересно посмотреть на другие подходы и опыт, делитесь.</p>
<br>
<p>«Изучил что-то — пробуй это объяснить, пока не поймёшь сам»</p>
<br>
{% endblock %}
