<!DOCTYPE html>
<html lang="ru-RU" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}    
    <title>Arsen Arutiunian - Про Python, Django и веб-разработку</title>
    <meta name="description" content="Блог Арсена Арутюняна о Python, Django и веб-разработке." />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Arsen Arutiunian - Про Python, Django и веб-разработку.">    
    <meta property="og:description" content="Блог Арсена Арутюняна. Про Python, Django и веб-разработку." />
    <meta property="og:site_name" content="Arsen Arutiunian - Про Python, Django и веб-разработку." />    
    {% endblock %}
    <meta property="og:url" content="{{request.build_absolute_uri}}" />
    <meta property="og:image" content="http://{{request.get_host}}{% static 'img/og.jpg' %}" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="355" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="fb:admins" content="https://www.facebook.com/arsen.arutyunyan">
    <meta property="fb:app_id" content="739245509575707">
    <link rel="canonical" href="{{request.build_absolute_uri}}" />

    <!-- CSS -->
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/arsspot-blog.css" %}" rel="stylesheet">
    <link href="{% static "css/pygments.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class='language-python'>
    <!-- Navigation -->
    <nav class="nav navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <!-- 
                    Menu  --><i class="fa fa-bars"> </i>
                </button>
                <a class="navbar-brand" href="{% url 'blog:post-list' %}"><strong>Arsen Arutiunian</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'blog:post-list' %}">Блог</a>
                    </li>                    
                    <li>
                        <a href="{% url 'blog:feedback' %}">Контакт</a>
                    </li>
                    <li>
                        <a href="{% url 'blog:about' %}">Обо мне</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Main Content -->
    <div class="container">
        <div class="row">            
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% block content %}
                
            {% endblock %}                
            </div>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="text-right footer-text">2017 © Arsen Arutiunian</div>
                </div>

            </div>
        </div>
    </footer>

    
    <!-- jQuery -->
    <script src="{% static "js/jquery.min.js" %}"></script>    
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block js %}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92666837-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter43065249 = new Ya.Metrika({
                    id:43065249,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/43065249" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
