{% extends 'blog/base.html' %}
{% load static %}
{% block meta %}
    <link rel="canonical" href="{{request.build_absolute_uri}}" />
    <title>Контакт - Arsen Arutiunian</title>
    <meta name="description" content="Cвязаться со мной. Форма обратной связи." />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Контакт - Arsen Arutiunian.">
    <meta property="og:description" content="Cвязаться со мной. Форма обратной связи." />
    <meta property="og:site_name" content="Arsen Arutiunian - Про Python, Django и веб-разработку." />
{% endblock %}

{% block content %}
<h2 class="text-left">Напишите мне!</h2>
<hr>
<p>Приветствую!</p>
<br>
<p class="n">Вопросы, предложения, замечания, идеи, либо просто сказать "привет" — можно через форму ниже.</p>
<hr>
<div class="col-lg-6 col-md-6 col-sm-6 nopadding">
<form action="{% url 'blog:feedback' %}" method="post">
{% csrf_token %}
{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% if messages %}
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

{% for field in form.visible_fields %}
    {% for error in field.errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">      
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ error }}
      </div>
    {% endfor %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}    
  </div>
{% endfor %}

  <button type="submit" class="btn btn-default">Отправить</button>
</form>
</div>
{% endblock %}
