{% extends 'blog/base.html' %}

{% block meta %}
	{% include 'blog/_meta_post.html' %}
{% endblock %}
{% block content %}
<h1 class="text-center title">{{post.title}}</h1>
    <hr>
    <p style="text-align: right; color: grey; font-style: italic; font-size: 1.4rem; margin-bottom: 2rem;">опубликовано: {{post.timestamp| date:"M d, Y" }}</p>
    <div class="post-content">{{post.content_html}}</div>
    <br>
    {% for tag in post.tag.all %} <a href="{% url 'blog:tag' tag %}" class="label label-info">{{tag}}</a>{% endfor %}
    <br>
    <br>

<hr style="border-style: dashed; border-color: #E1E1E1;" />
{% if not post.draft %}
<div id="comments">
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = '{{request.build_absolute_uri}}';
            this.page.identifier = '{{request.path}}';
        };
        
        (function() {  
            var d = document, s = d.createElement('script');
            
            s.src = '//arsspot-blog.disqus.com/embed.js';  
            
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{% endif %}
{% endblock %}



