{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
  
        <div class="post-in-list col-md-12 nopadding">
        <div class="col-md-2"><span class="date">{{ post.timestamp | date:"M d, Y" }}</span></div>
        <div class="col-md-10">{% if post.draft %}<span style="color: red;">DRAFT ! </span>{% endif %} 
                                <a class="post_link" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                {% if post.sub_title %} — <span class="sub_title">{{post.sub_title|safe}}</span>{% endif %}
        </div>
        </div>                    
    {% endfor %}

    {% if posts.has_other_pages %}
    <div class="paginator col-md-12 text-center">
        {% if posts.has_previous %}
            <a href={% if posts.previous_page_number == 1 %}"{% url 'blog:post-list' %}"
                            {% else %}
                                "{% url 'blog:page' posts.previous_page_number %}"
                    {% endif %}><< сюда</a> &emsp;-&emsp;<i>{{posts.number}}</i>&emsp;-&emsp;
        {% else %}<span class="disabled"><< сюда</span> &emsp;-&emsp;<i>{{posts.number}}</i>&emsp;-&emsp;{% endif %}
        {% if posts.has_next %}<a href="{% url 'blog:page' posts.next_page_number %}">туда >></a>
        {% else %}<span class="disabled">туда >></span>{% endif %}
    </div>    
    {% endif %}               
{% endblock %}
