html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  padding-top: 8rem;
  font-size: 1.7rem;
  line-height: 1.7;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: auto;
}

.nopadding {
   padding-left: 0 !important;
   padding-right: 0 !important;
}

.post_link {
	font-style: italic;
}

.navbar-default {
	background-color: #e7e7e7;
	border-color: #cacaca;
}

.post-in-list {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.post-in-list a {
	color: #008db7;
}

.label {
	margin-right: 0.7rem;
	border-radius: 0px;
	font-weight: 300; 
}

.footer-text{
	color: #7b8894;
	padding-bottom: 2rem;
}
.date {
  font-style: italic;
  font-size: 1.4rem;
  color: grey;
}

.paginator {
  padding-top: 35px;
  padding-bottom: 35px;
  color: #333;
}

h1, h2 {
	color: #008db7;
}

.paginator a, .post-content a {
	color: #333;
  text-decoration: none;
  border-bottom: 3px solid #bee1ff;
  box-shadow: inset 0 -5px 0 #bee1ff;
  position: relative;
  -webkit-transition: all 0.30s cubic-bezier(0.79, 0.4, 0.32, 1.84); 
  -o-transition: all 0.30s cubic-bezier(0.79, 0.4, 0.32, 1.84);
  transition: all 0.30s cubic-bezier(0.79, 0.4, 0.32, 1.84);
}

.paginator a:hover, .post-content a:hover {
    box-shadow: inset 0 -1em 0 #bee1ff;
}

pre {
  max-height: 30em;  
  border-radius: 3px;
  border: 0;
  font-size: 1.4rem;
  padding: 1em;
}

pre code {

  overflow-wrap: normal;
  white-space: pre;
}

@media only screen and (max-width : 768px) {
  .navbar-brand {
    margin-top: 7px;
  }
}

.navbar-brand, .navbar-default .navbar-nav>li>a {
    letter-spacing: 1px;
    font-weight: 700;
}

th, td {
  padding-right: 2rem;
}

code {
  color: black;
  background: #F1F1F1;
}
